body {
    margin: 1rem auto 1rem;
    border: 3px solid red;
    border-radius: 2rem;
    padding: 3rem;
    outline: 3px solid purple;
    outline: 3px solid green;
    background-color: palegoldenrod;
    font-family: sans-serif;
    max-width: 600px;
}
h1 {
    text-align: center;
    text-decoration: underline;
}